@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  color: #805B51;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 20px 15px ;
}

.achievements {
  color: #805B51;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20rem;
}

input[type="text"]#gameName {
  display: block;
  width: 100%;
  height: 40px; 
  background-color: white;
}

.cover {
  background-image: url('../app/assets/hero.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.box {
  width: 60%;
  height: 600px;
  border-radius: 10px;
  background-color: #F2EAE6;
  margin-left: 20rem;
  margin-top: 10px;
}

.textinput {
  width: 50%;
  height: 40px;
  background-color: #F2EAE6;
  border-radius: 6px;
  margin:2px;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #A48B83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}

h1 {
  color: #B39D97;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: larger;
  font-weight: 600;
  margin-left: 20rem;
  margin-top: 50px;
  letter-spacing: 1px;
}

.dropdown-menu {
  list-style: none; 
  overflow: hidden; 
  height: 172px;
  background-color: #f4f7fa;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.dropdown-menu.closed {
  height: 30px;
}


.dropdown-menu option {
  border-bottom: 1px solid #afafaf;
  color: #474747;
  padding: 10px;
}

.dropdown-menu option:first-child {
  content: "\25BC";
  float: right;
  margin-left: -30px;
  margin-right: 5px;
}


label {
  color: #B39D97;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea {
  width: 60%;
  height: 210px;
  background-color: #F2EAE6;
  border-radius: 10px;
  margin-left: 20rem;
}

.submit {
  display: block;
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #A48B83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px auto 0;
}

.timer {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  background-color: #F2EAE6;
  margin-left: 20rem;
  margin-top: auto;
}

.bottom {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* drag n drop */
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 50%;
  height: 260px ;
  font-family: 'roboto', sans-serif;
  padding: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drop-area.highlight {
  border-color: purple;
}



p {
  margin-top: 0;
}

.button:hover {
  background: #e08080;
}

#fileElem {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: relative; 
  bottom: 2px;
  left: 20rem;
  width: 50%; 
}

.done-button, .cancel-button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #A48B83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #A48B83;
  background: transparent;
  color: #A48B83;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#item-drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 80px;
  font-family: sans-serif;
  padding: 20px;
}

#item-drop-area.highlight {
  border-color: purple;
}

#character1,
#character2,
#character3,
#character4 {
  display: none;
}

#item1,
#item2,
#item3,
#item4 {
  display: none;
}