@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  color: #805B51;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

input[type="text"]#gameName {
  display: block;
  width: 100%;
  height: 40px; 
  background-color: white;
}

.cover {
  background-image: url('../app/assets/hero.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.box {
  width: 60%;
  height: 600px;
  border-radius: 10px;
  background-color: #F2EAE6;
  margin-left: 20rem;
  margin-top: 10px;
  box-sizing: border-box;
}

.textinput {
  width: 50%;
  height: 40px;
  background-color: #F2EAE6;
  border-radius: 6px;
  margin:2px;
  box-sizing: border-box;

}

.button {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #A48B83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}

h1 {
  color: #B39D97;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: larger;
  font-weight: 600;
  margin-left: 20rem;
  margin-top: 50px;
  letter-spacing: 1px;
}

label {
  color: #B39D97;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea {
  width: 60%;
  height: 210px;
  background-color: #F2EAE6;
  border-radius: 10px;
  margin-left: 20rem;
}

.submit {
  display: block;
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #A48B83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px auto 0;
}

.timer {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  background-color: #F2EAE6;
  margin-left: 20rem;
  margin-top: auto;
}

.bottom {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* drag n drop */
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
.done-button, .cancel-button {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #A48B83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-button {
  right: 80px; 
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #A48B83;
  background: transparent;
  color: #A48B83;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}