@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  color: #805b51;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 20px 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.achievements {
  color: #805b51;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20rem;
}

input[type="text"]#gameName {
  display: inline-block;
  width: 90%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
  box-sizing: content-box;
}

.cover {
  background-image: url("../app/assets/hero.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mount {
  background-image: url("../app/assets/time.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px;
  padding-top: 70px;
}

.bottom {
  background-image: url("../app/assets/bottom.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 700px;
  padding-top: 70px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  color: #686361;
  background-color: transparent;
  cursor: pointer;
  padding: 60px;
}

.add-button::before {
  content: "+";
  font-size: 100px;
  justify-content: center;
  align-items: center;
  
}

.background-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background-color: #f2eae6;
  margin-left: 20rem;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.button {
  display: inline-block;
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #a48b83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  cursor: pointer;
  align-items: center;
  margin: 20px;
  text-align: center;
}

.button:hover {
  background: #e08080;
}

#fileElem {
  display: none;
}

h1 {
  color: #b39d97;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: larger;
  font-weight: 600;
  margin-left: 20rem;
  margin-top: 50px;
  letter-spacing: 1px;
}

textarea {
  width: 60%;
  height: 210px;
  background-color: #f2eae6;
  border-radius: 10px;
  margin-left: 20rem;
}

.submit, .newGame, .delete {
  display: block;
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background-color: #a48b83;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px auto 0;
}

.timer {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  background-color: #f2eae6;
  margin-left: 20rem;
  margin-top: auto;
}

.bottom {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  font-family: "roboto", sans-serif;
  padding: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#drop-area.highlight {
  border-color: rgb(221, 103, 139);
}

/* p {
  margin-top: 0;
  align-items: center;
  text-align: center;
  color: #805b51;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

#character-drop-area, #item-drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 90%;
  height: 100%;
  font-family: sans-serif;
  margin-left: 30px;
  padding: 20px;
}

#character-drop-area.highlight {
  border-color: rgb(194, 103, 111);
}

#character1,
#character2,
#character3,
#character4 {
  display: none;
}

#item1,
#item2,
#item3,
#item4 {
  display: none;
}

.multiselect {
  width: 90%;
  margin-left: 20px;
  border: 1px solid #8b8686;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  color: #805b51;
}

.multiselect .title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multiselect .title::after {
  content: '▼';
  color: #8b8686;
}

.multiselect.active .title::after {
  content: '▲';
  color: #8b8686;
}

.multiselect .options {
  border-top: 1px solid #959595;
  box-sizing: border-box;
}

.multiselect .options div {
  padding: 10px;
  border-top: 1px solid #4a3232;
}

.multiselect .options div:hover {
  background-color: #eee;
}

.down {
  display: block;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.item-box {
  margin-left: 10px;
}


@media (max-width: 1200px) {
  .achievements {
    margin-left: 15rem;
  }

  .box {
    width: 80%;
    margin-left: 10rem;
  }

  h1 {
    margin-left: 10rem;
  }

  textarea {
    width: 80%;
    margin-left: 10rem;
  }

  .timer {
    width: 80%;
    margin-left: 10rem;
  }

  .button-container {
    left: 10rem;
  }
}

@media (max-width: 900px) {
  .achievements {
    margin-left: 10rem;
  }

  .box {
    width: 90%;
    margin-left: 5rem;
  }

  h1 {
    margin-left: 5rem;
  }

  textarea {
    width: 90%;
    margin-left: 5rem;
  }

  .timer {
    width: 90%;
    margin-left: 5rem;
  }

  .button-container {
    left: 5rem;
  }
}

@media (max-width: 600px) {
  .achievements {
    margin-left: 2rem;
  }

  .box {
    width: 100%;
    margin-left: 0;
  }

  h1 {
    margin-left: 2rem;
  }

  textarea {
    width: 100%;
    margin-left: 0;
  }

  .timer {
    width: 100%;
    margin-left: 0;
  }

  .button-container {
    left: 0;
  }
}